---
 const personalImageAlt = "Aaron Ramirez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Aarón Ramírez, ingeniero en sistemas con mas de 5 años de experiencia en la industria del desarrollo web. Actualmente trabajo como <strong
        >desarrollador Back-End, bueno ese es el titulo de mi puesto, pero realmente hago labores Full-Stack</strong
      >.
    </p>

    <p>
      A lo largo de mi carrera profesional he acumulado exitos interesantes como <strong
        >realizar web scrapping de resultados de carreras obteniendo mas de 4M de registros de data.</strong
      > He lidereado equipos y proyectos de desarrollo web.
    </p>

    <p>
      Mi vida no es solo el desarrollo tambien me gusta hacer deporte, <strong
        >he participado en diferentes carreras de <em class="italic">Trail Running</em> lo que hoy despertó mi interes en el <em class="italic">Mountain Bike</em></strong
      >. En palabras cortas disfruto mucho el deporte Outdoor. 
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
