---
import ExperienceItem from "./ExperienceItem.astro"
import { useTranslations, getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

const EXPERIENCIE = [
  {
    date: t('Experience.Deporprive.date'),
    title: t('Experience.Deporprive.title'),
    company: t('Experience.Deporprive.company'),
    description: t('Experience.Deporprive.description'),
  },
  { 
    date: t('Experience.GoFunWorldSL.date'),
    title: t('Experience.GoFunWorldSL.title'),
    company: t('Experience.GoFunWorldSL.company'),  
    description: t('Experience.GoFunWorldSL.description'),
  },
  { 
    date: t('Experience.GuayabaTech.date'),
    title: t('Experience.GuayabaTech.title'),
    company: t('Experience.GuayabaTech.company'),
    description: t('Experience.GuayabaTech.description'),
  },
  { 
    date: t('Experience.VenegasChavezConsultores.date'),
    title: t('Experience.VenegasChavezConsultores.title'),
    company: t('Experience.VenegasChavezConsultores.company'),
    description: t('Experience.VenegasChavezConsultores.description'),
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
