---
import ThemeToggle from "./ThemeToggle.astro"
import { getRelativeLocaleUrl } from "astro:i18n"
import { useTranslations, getLangFromUrl } from "../i18n/utils";

  const lang = getLangFromUrl(Astro.url);
  const t = useTranslations(lang);



const navItems = [
  {
    title: t('Nav.home'),
    label: "top",
    url: getRelativeLocaleUrl(lang, '#top').replace(/\/$/, ''),
  },
  {
    title: t('Nav.experience'),
    label: "experience",
    url: getRelativeLocaleUrl(lang, "#experience").replace(/\/$/, ''),
  },
  {
    title: t('Nav.skills'),
    label: "skills",
    url: getRelativeLocaleUrl(lang, "#skills").replace(/\/$/, ''),
  },
  // {
  //   title: "Proyectos",
  //   label: "projects",
  //   url: "/#projects",
  // },
  {
    title: t('Nav.about'),
    label: "about",
    url: getRelativeLocaleUrl(lang, "#about").replace(/\/$/, ''),
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
