---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
---
<ul style="float: right;">
  {Object.entries(languages).map(([lang, label]) => {
    if(lang === currentLang) return;
    return (
      <li>
        <a href={translatePath('/', lang)} target="_self">{label}</a>
      </li>
    )
  })}
</ul>