---
import Layout from "../../layouts/Layout.astro"
import AboutMe from "../../components/AboutMe.astro"
import Briefcase from "../../components/icons/Briefcase.astro"
import CodeIcon from "../../components/icons/Code.astro"
import Experience from "../../components/Experience.astro"
import ProfileCheck from "../../components/icons/ProfileCheck.astro"
import ProjectsExample from "../../components/Projects-example.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import Hero from "../../components/Hero.astro"
import Projects from "../../components/Projects.astro"
import { useTranslations, getLangFromUrl } from "../../i18n/utils";


  export async function getStaticPaths(){
    return [
      {params: {lang: 'es'}},
      {params: {lang: 'en'}},
    ];
  }

  const lang = getLangFromUrl(Astro.url);

  const { currentLocale } = Astro;
  const t = useTranslations(lang);



---

<Layout
  title={t('Layout.title')}
  description={t('Layout.description')}
>
  <main class="px-4" id="top">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        {t('Layout.experience')}
      </h2>
      <Experience />
    </SectionContainer>

    <!-- <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer> -->

    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        {t('Layout.projects')}
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        {t('Layout.about')}
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
